<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div id="header">
        <h1>Members Only</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <% if (locals.user) { %>
                    <li><a href="/log-out">Logout</a></li>
                <% } else { %>
                    <li><a href="/log-in">Login</a></li>
                    <li><a href="/sign-up">Register</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
    <div id="content">
        <% if (user) { %>
            <h1>Welcome, <%= user.username %>!</h1>
          <% } else { %>
            <h1>Welcome, Guest!</h1>
        <% } %>
        <h2>Community Posts:</h2>
       
        <div id="messages">
            <% messages.forEach(msg => { %>
              <div class="message">
                <h3><%= msg.title %></h3>
                <p><strong><%= msg.username %>:</strong> <%= msg.content %></p>
                <small><%= new Date(msg.created_at).toLocaleString() %></small>

                <% if (user && user.membership === 'Admin') {%> 
                    <form action="/messages/<%= msg.id %>?_method=DELETE" method="POST" class="delete-form">
                        <button type="submit">Delete</button>
                    </form>
                <% } %>
              </div>
            <% }) %>
        </div>
                 
        <form action="/messages" method="POST" id="message-form">
            <input type="text" name="title" placeholder="Title" required />
            <textarea name="content" placeholder="Your message"></textarea>
            <button type="submit">Post</button>
        </form>
          
    </div>

    <div id="footer">
        <p>&copy; 2025 Members Only</p>
    </div>
</body>
</html>